In [5]:
import pandas as pd

In [6]:
google = pd.read_csv('../../data/scraped-data/GOOGL_daily_2025.csv')
google.drop(google.index[0], inplace=True)

In [7]:
google.head()

,Date,Open,High,Low,Close,Volume
1,2025-01-02,190.43067970164262,191.7791328258186,187.2843094002135,189.2120819091797,20370800.0
2,2025-01-03,191.14985143368122,192.9877463613902,189.76145103861666,191.56936645507812,18596200.0
3,2025-01-06,193.75684931380115,197.99197728329852,193.6270092243641,196.64352416992188,29563600.0
4,2025-01-07,196.8832529983184,200.7687774852745,194.37614589069548,195.26512145996094,26487200.0
5,2025-01-08,192.3484808074723,196.06418741382137,192.1586969389352,193.7268829345703,24864800.0

In [11]:
google['Date'] = pd.to_datetime(google['Date'])
google['Open'] = google['Open'].astype(float)
google['High'] = google['High'].astype(float)
google['Low'] = google['Low'].astype(float)
google['Close'] = google['Close'].astype(float)
google['Volume'] = google['Volume'].astype(float)

In [12]:
google_headlines = pd.read_csv('../../data/clean-data/google_clean_headlines.csv')

In [13]:
google_headlines.sample(5)

           date company                                   cleaned_headline
152  2025-05-21   GOOGL  magnificent 7 earnings preview a pulse check o...
58   2025-05-26   GOOGL  pe ratio insights for alphabet alphabet nasdaq...
226  2025-05-19   GOOGL  stock market today moodys downgrade sends mark...
83   2025-05-23   GOOGL  alphabet is wiping out the ai competition nasd...
116  2025-05-22   GOOGL  antitrust probe targets googles ai deal with c...

In [20]:
reddit = pd.read_csv('../../data/clean-data/cleaned_reddit.csv')
reddit.drop('Unnamed: 0', axis = 1, inplace = True)

In [26]:
reddit = reddit[reddit['tickers_mentioned'] == 'AMZN']

In [27]:
reddit

,score,subreddit,tickers_mentioned,date,clean_text,compound,sentiment
12,0,investing,AMZN,2025-05-19,amzn to new ath despite tariffs positions are ...,0.9595,positive
14,107,investing,AMZN,2025-05-16,if you could only invest in companies for the ...,0.2732,positive
31,67,investing,AMZN,2025-05-01,shorted the market today being a contrarian fe...,-0.4767,negative
108,58,wallstreetbets,AMZN,2025-05-13,i almost sold my amzn yesterday and made k tod...,0.7879,positive
110,44,wallstreetbets,AMZN,2025-05-12,am i doing the china deal right nke and amzn c...,0.8201,positive
112,100,wallstreetbets,AMZN,2025-05-12,gap up morning bought calls on amzn and spy la...,0.9100,positive
150,0,stocks,AMZN,2025-05-16,could warren buffett be buying goog lately sec...,0.9493,positive
177,0,stocks,AMZN,2025-05-01,waiting for the day amzn and googl erupt so i ...,-0.4215,negative

In [13]:
reddit['date'] = pd.to_datetime(reddit['date'])

In [14]:
google = google.sort_values('Date')
google['Date'] = google['Date'] - pd.Timedelta(days=1)

In [15]:
merged_df = pd.merge(reddit, google, left_on='date', right_on='Date', how='inner')
merged_df.drop('date', axis = 1, inplace = True)

In [16]:
merged_df.head()

Empty DataFrame
Columns: [score, subreddit, tickers_mentioned, clean_text, compound, sentiment, Date, Open, High, Low, Close, Volume]
Index: []

In [21]:
google

          Date        Open        High         Low       Close    Volume
1   2025-01-02  190.430680  191.779133  187.284309  189.212082  20370800
2   2025-01-03  191.149851  192.987746  189.761451  191.569366  18596200
3   2025-01-06  193.756849  197.991977  193.627009  196.643524  29563600
4   2025-01-07  196.883253  200.768777  194.376146  195.265121  26487200
5   2025-01-08  192.348481  196.064187  192.158697  193.726883  24864800
..         ...         ...         ...         ...         ...       ...
98  2025-05-23  169.059998  169.960007  167.889999  168.470001  35211400
99  2025-05-27  170.160004  173.169998  170.000000  172.899994  37995700
100 2025-05-28  173.160004  175.270004  171.910004  172.360001  34784000
101 2025-05-29  174.000000  174.419998  170.630005  171.860001  29373800
102 2025-05-30  171.350006  172.210007  167.440002  171.740005  52639900

[102 rows x 6 columns]

In [24]:
reddit['tickers_mentioned'].unique()

array(['NVDA', 'TSLA', 'TSLA,AAPL', 'TSLA,AAPL,NVDA', 'TSLA,NVDA,AMZN',
       'AMZN', 'MSFT', 'MSFT,NVDA', 'AAPL,MSFT,NVDA,AMZN',
       'AAPL,NVDA,AMZN', 'AAPL,MSFT,NVDA', 'AAPL', 'AAPL,MSFT',
       'TSLA,AMZN', 'TSLA,NVDA', 'TSLA,AAPL,MSFT,NVDA,AMZN',
       'AAPL,MSFT,AMZN', 'MSFT,NVDA,AMZN', 'TSLA,AAPL,MSFT,NVDA',
       'AAPL,NVDA', 'AAPL,AMZN', 'NVDA,AMZN', 'MSFT,AMZN'], dtype=object)

In [ ]:
apple, nvidia, google, amazon, microsoft